---
- name: Setup Ubuntu Server
  hosts: all
  vars:
    user: salim
    home: "/home/{{ user }}"
    dotfiles_repo: "https://github.com/54L1M/shenfiles.git"

  vars_files:
    - group_vars/all/secrets.yml

  tasks:
    - name: Setup User & SSH
      import_tasks: tasks/user.yml
      become: yes

    - name: Run Common Setup
      import_tasks: tasks/common.yml
      become: yes

    - name: Install Programming Languages
      import_tasks: tasks/langs.yml

    - name: Run Security Hardening
      import_tasks: tasks/security.yml
      become: yes

    - name: Install Docker
      import_tasks: tasks/docker.yml
      become: yes

    - name: Install Neovim
      import_tasks: tasks/neovim.yml
      become: yes

    - name: Link Dotfiles
      import_tasks: tasks/dotfiles.yml

    - name: Setup Playground Repo
      import_tasks: tasks/playground.yml

  handlers:
    - name: Restart SSH
      service:
        name: ssh
        state: restarted
