- name: Create User 'salim'
  user:
    name: "{{ user }}"
    password: "{{ sudo_password_hash }}"
    shell: /bin/bash
    groups: sudo
    append: yes
    state: present

- name: Add SSH Key to 'salim'
  authorized_key:
    user: "{{ user }}"
    state: present
    key: "{{ lookup('file', '~/.ssh/id_ed25519.pub') }}"

- name: Ensure 'salim' has sudo access (with password)
  copy:
    dest: "/etc/sudoers.d/{{ user }}"
    content: "{{ user }} ALL=(ALL) ALL"
    mode: "0440"
    validate: "visudo -cf %s"
